:root {
  --primary-color: #070707;
  --secondary-color: #6F6F6F;
  --light-color: #F5F5F5;
  --button-hover-color: #F21000;
  --button-color: #54646F;
}

.Register h2 {
  text-align: center;
  margin-top: 40px;
}

 .Register .form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes avec largeur égale */
  gap: 20px; /* Espacement entre les colonnes et les lignes */
  max-width: 700px; /* Limite de la largeur */
  margin: 0 auto; /* Centrer horizontalement */
  padding: 20px; /* Espacement entre le formulaire et les bordures */
  overflow-y: auto; /* Défilement vertical automatique lorsque le contenu dépasse la hauteur de l'écran */
}

.Register input {
  border: none;
  border-bottom: 1px solid #ccc; /* Bordure du bas */
  padding: 8px; /* Réduire le padding */
  width: 100%; /* Pour occuper toute la largeur disponible */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  font-size: 14px; /* Taille de la police ajustée */
  transition: all 0.3s ease; /* Transition sur toutes les propriétés */
}

input:hover {
  transform: scale(1.05); /* Ajustement de l'échelle pour un effet de survol plus subtil */
}

label {
  display: block; /* Pour que les labels soient sur une ligne différente */
  margin-bottom: 5px; /* Espacement entre les labels et les champs */
}

.column1 {
  grid-column: 1; /* Première colonne */
}

.column2 {
  grid-column: 2; /* Deuxième colonne */
}

button {
  background-color: var(--button-color); 
  color: var(--light-color); 
  padding: 10px 20px; 
  cursor: pointer;  
  border: none; /* Retirer la bordure par défaut */
  transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
}

button:hover {
  background-color: var(--button-hover-color); 
}

.message {
  text-align: center;
  margin: 20px 0;
}

.success {
 color: green;
}

.error {
  color: red;
}
