.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.close {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.close:hover {
  color: #000;
}

a.button_loggin {
  border-radius: 10px;
  border-color: 1px solid #ccc;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
  color: #000;
}