/* Cart.css */

/* Container for the cart */
.cart {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  text-align: center;
}

.cart h2 {
  text-align: center;
  color: #333;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.cart img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cart div {
  flex: 1;
  text-align: center;
}

.cart h3 {
  margin: 0 0 10px;
  color: #333;
}

.cart p {
  margin: 5px 0;
  color: #666;
}

.cart .cart-quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.cart button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.cart button:hover {
  background-color: #0056b3;
}
.sound-alert {
  position: absolute;
  top: 50%;
  right: -20px; /* Ajustez la valeur en fonction de votre mise en page */
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sound-container {
  position: relative;
}

.sound-container:hover .sound-alert {
  opacity: 1;
}

.cart .cart-total,
.cart .cart-number-products {
  text-align: right;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.cart .empty-cart {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart .empty-cart:hover {
  background-color: #c82333;
}
