/* home css*/
.hero {
  background-image: url("../Assets/svl.png");
  height: 500px;
  position: relative;
  background-size:fill;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
}

.hero h1 {
  color: #F5F5F5;
  text-align: center;
  font-weight: 500;
  font-size: 5rem;
  margin: 50px auto;
  padding: 40px;
  
}

.hero span {
  color: red;
}

.hero p {
  width: 80%;
  margin:0 auto;
  text-align: left;
  font-size: 2rem;
  color: #CCC;
  /* background: linear-gradient(to right, hsl(0, 0%, 93%) 0, hsl(0, 5%, 70%) 10%, hsl(0, 1%, 48%) 20%);
  background-clip: text ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  border: 1px solid green;
}*/
/* @keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
} */
}
.hero-reseaux{
  font-size: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #CCC;
 padding: 40px;
 gap: 50px;
 cursor: pointer;
}
.hero-reseaux:hover{
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}