.prod {
  width: 75%;
}

.product_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_delete {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_delete:hover {
  background-color: #FF69B4;
}

.btn_update {
  background-color: mediumblue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_update:hover {
  background-color: #4682B4;
}

.btn_add {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_add:hover {
  background-color: #2ecc71;
}

/* Additional CSS for existing products */
.existing_products {
  list-style: none;
  padding: 0;
}

.existing_products li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* CSS for the form */
.form_container {
  display: flex;
  flex-wrap: wrap;
}

.form_container > div {
  margin-right: 10px;
}

.form_container > div:last-child {
  margin-right: 0;
}

.form_container label {
  display: block;
  margin-bottom: 5px;
}

.form_container input,
.form_container textarea {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}
